@model List<mola.Models.Etkinlik>

@{
    Layout = "_LayoutPanel";
}

<h2>Etkinlik Sil</h2>

<form class="d-grid gap-3" asp-action="SpaSil" method="post">
    <select name="id" class="form-select" aria-label="Default select example">
        <option value="0" selected>Etkinlik Seçiniz.</option>
        @foreach (var i in Model)
        {
            <option value="@i.Id">@i.Baslik</option>
        }
    </select>
    <button type="submit" class="btn btn-danger">Sil</button>
</form>

